h1 {
    text-align: center;
}

button {
    width: 24%;
    padding: 0;
    margin-bottom: 5px;
    height: 50px;
    background: #E0E0E0;
    border-radius: 10px;
}

.operator {
    background: #F79330
}

.card {
    width: 400px;
    height: 350px;
    background: darkseagreen;
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
}

.row{
    text-align: center;
    font-size: larger;
    justify-content: space-around;

}

.display {
    height: 50px;
    text-align: center;
    background: #4C4C4C;
}

#left-operand {
    padding: 5px;
    margin: 5px;
    width: 30%;
    background: #4C4C4C;
    border-color: black;
    border-width: 3px;
    color: white;
    border-radius: 10px;
}

#operator {
    padding: 5px;
    margin: 5px;
    width: 30%;
    background: #4C4C4C;
    border-color: black;
    border-width: 3px;
    color: white;
    border-radius: 10px;
}

#right-operand {
    padding: 5px;
    margin: 5px;
    width: 30%;
    background: #4C4C4C;
    border-color: black;
    border-width: 3px;
    color: white;
    border-radius: 10px;
}